<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>jQuery单页/全屏滚动插件onepage-scroll演示-显示命名锚记_dowebok</title>
	<link rel="stylesheet" href="../../static/css/onepage-scroll.css" />
	<style>
	.page1 { background-color: #1bbc9b;}
	.page2 { background-color: #FF7F50;}
	.page3 { background-color: #4BBFC3;}
	.page4 { background-color: #f90;}
	p.title { position: relative; top: 35%; font: 700 40px "Microsoft Yahei"; color: #fff; text-align: center;}
</style>
<script src="http://cdn.staticfile.org/jquery/1.9.0/jquery.min.js"></script>
<script src="../../static/js/jquery.onepage-scroll.min.js"></script>
<script type="text/javascript" src="../../static/js/semantic.min.js"></script>
<link rel="stylesheet" href="../../static/css/semantic.min.css"></link>
<script>
	$(function(){
		$('.main').onepage_scroll({
			sectionContainer: '.page',
			updateURL: false
		});
	});
</script>
</head>

<body>
	<div class="main">
		<div class="page page1">
			<p class="title">滚动时地址栏URL会显示命名锚记</p>
		</div>
		<div class="page page2">
			<p class="title">可惜点“后退”/“前进”按钮虽然命名锚记会改变，但却不会滚动</p>
		</div>
		<div class="page page3">
			<div class="ui text container segment" style="background-color: rgba(103, 86, 86, 0.85);">
				<div class="ui divided items">
					<div class="ui segment">
						<h2 class="ui center aligned header">全部图书榜单信息</h2>
					</div>
					{% for i in all_info %}
					<div class="item">
						<div class="content">
                                    <!-- <div class="ui small image">
                                      <img src="{{ i.image }}">
                                  </div> -->
                                  <div class="menu" id="index_text">
                                  	<h3 class="ui header" href="{{ i.url }}">{{ i.title }}</h3>
                                  	<p>作者：{{ i.author }} / 出版社：{{ i.press }} / 评分：{{ i.score }} / 评分人数：{{ i.number }}</p>
                                  	<p>短评情感指数：</p>
                                  	<div class="extra">
                                  		{% for tag in i.label %}
                                  		<div class="ui label">
                                  			{{ tag }}
                                  		</div>
                                  		{% endfor %}

                                  	</div>
                                  </div> 
                              </div>
                          </div>
                          {% endfor %}
                          
                          <div class="ui pagination menu">
                          	{% if all_info.has_previous %}
                          	<a class="active item" href="?page={{ all_info.previous_page_number }}"> < </a>
                          	{% endif %}
                          	<div class="disable item">
                          		page {{ all_info.number }} of {{ all_info.paginator.num_pages}}
                          	</div>
                          	{% if all_info.has_next %}
                          	<a class="item" href="?page={{ all_info.next_page_number }}"> > </a> 
                          	{% endif %}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="page page4">
              	<p class="title">第四屏</p>
              </div>
          </div>









          <a href="http://www.dowebok.com/" style="display: none;">dowebok</a>
          <a href="http://www.dowebok.com/118.html" style="display: none;">onepage-scroll – jQuery单页/全屏滚动插件</a>
      </body>
      </html>